/* Form Styles */
.ticketForm {
  text-align: -webkit-center;
}
.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  align-items: center;
  margin-top: 80px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.formField {
  margin-bottom: 15px;
  width: 80%;
}

.descriptionField {
  height: 100px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.labelStyle {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputStyle {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1E90FF;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.cancelButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #DC143C;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* Table Styles */
.tableContainer {
  width: 80%;
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.th, .td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.td-description {
  width: 350px; /* Adjust width as needed */
}

.th {
  background-color: #f2f2f2;
  width: 10px;
}
.th-description {
  background-color: #f2f2f2;
  width: 350px;
}

.trEven {
  background-color: #f9f9f9;
}

.trHover:hover {
  background-color: #f1f1f1;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.ticket-header {
  text-align: center;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 80%;
  overflow-y: scroll;
  text-align: left;
  font-weight: 600;
}

.modal-description {
  overflow-y: scroll;
  height: 100px;
  text-align: center;
  font-weight: 400;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.modal-comments {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: 1px solid grey;
  border-radius: 5px;
  overflow-y: scroll;
}
.add-comment {
  padding-top: 10px;
}

.add-comment textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.add-comment textarea::placeholder {
  text-align: center;
  vertical-align: middle;
}

.buttons {
  text-align: center;
  padding-top: 20px;
}
/* Form Styles */
.ticketForm {
  text-align: -webkit-center;
}
.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  align-items: center;
  margin-top: 80px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.formField {
  margin-bottom: 15px;
  width: 80%;
}

.descriptionField {
  height: 100px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.labelStyle {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputStyle {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1E90FF;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

.cancelButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #DC143C;
  color: #fff;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* Table Styles */
.tableContainer {
  width: 80%;
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.th, .td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.td-description {
  width: 350px;
}

.th {
  background-color: #f2f2f2;
  width: 10px;
}
.th-description {
  background-color: #f2f2f2;
  width: 350px;
}

.trEven {
  background-color: #f9f9f9;
}

.trHover:hover {
  background-color: #f1f1f1;
}

